<mat-card class="cardWithShadow">
    <mat-card-content>
        <div>
            <div class=" w-100">
                <mat-card-title>Produits en fin de validité</mat-card-title>
                <span class="f-s-14">Situation des produits en fonction de leur péremption</span>
                <!-- <button mat-icon-button color="inherit" aria-label="Example icon-button with a menu">
                    <mat-icon class="f-s-24 d-flex align-items-center justify-content-center">more_vert</mat-icon>
                </button> -->
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="w-100">
                <!-- Profile Column -->
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
                        Noms
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex align-items-center">
                            <!--<img [src]="element.imagePath" alt="users" width="50" class="rounded-circle" /> -->
                            <div class="m-l-16">
                                <h6 class="text-truncate-2 f-s-14 f-w-600">
                                    {{ element.nom }}
                                </h6>
                                <!-- <span class="f-s-14">{{ element.position }}</span> -->
                            </div>
                        </div>
                    </td>
                </ng-container>



                <!-- Symbol Column -->
                <ng-container matColumnDef="quantite">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
                        Quantité
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="f-s-14">{{ element.quantite }}</span>
                    </td>
                </ng-container>

                <!-- Hour Rate Column -->
                <ng-container matColumnDef="emplacement">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
                        Emplacement
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span><span class="f-w-600 f-s-14">{{ element.emplacement | titlecase }}</span></span>
                    </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
                        Date
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="bg-light-error text-error border-error rounded f-w-600 p-6 p-y-4 f-s-12">
                            {{ element.dateExpiration | date }}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>